1_RNAseq_import/Sample_A1_R1_fastqc.html
1_RNAseq_import/Sample_A1_R2_fastqc.html
1_RNAseq_import/Sample_A2_R1_fastqc.html
1_RNAseq_import/Sample_A2_R2_fastqc.html
1_RNAseq_import/Sample_A3_R1_fastqc.html
1_RNAseq_import/Sample_A3_R2_fastqc.html
1_RNAseq_import/Sample_A4_R1_fastqc.html
1_RNAseq_import/Sample_A4_R2_fastqc.html
1_RNAseq_import/Sample_A5_R1_fastqc.html
1_RNAseq_import/Sample_A5_R2_fastqc.html
1_RNAseq_import/Sample_A6_R1_fastqc.html
1_RNAseq_import/Sample_A6_R2_fastqc.html
1_RNAseq_import/Sample_N14_R1_fastqc.html
1_RNAseq_import/Sample_N14_R2_fastqc.html
1_RNAseq_import/Sample_N15_R1_fastqc.html
1_RNAseq_import/Sample_N15_R2_fastqc.html
1_RNAseq_import/Sample_N16_R1_fastqc.html
1_RNAseq_import/Sample_N16_R2_fastqc.html
1_RNAseq_import/Sample_N17_R1_fastqc.html
1_RNAseq_import/Sample_N17_R2_fastqc.html
1_RNAseq_import/Sample_N18_R1_fastqc.html
1_RNAseq_import/Sample_N18_R2_fastqc.html
1_RNAseq_import/Sample_N21_R1_fastqc.html
1_RNAseq_import/Sample_N21_R2_fastqc.html
1_RNAseq_import/Sample_R8_R1_fastqc.html
1_RNAseq_import/Sample_R8_R2_fastqc.html
1_RNAseq_import/Sample_R9_R1_fastqc.html
1_RNAseq_import/Sample_R9_R2_fastqc.html
1_RNAseq_import/Sample_R10_R1_fastqc.html
1_RNAseq_import/Sample_R10_R2_fastqc.html
1_RNAseq_import/Sample_R11_R1_fastqc.html
1_RNAseq_import/Sample_R11_R2_fastqc.html
1_RNAseq_import/Sample_R12_R1_fastqc.html
1_RNAseq_import/Sample_R12_R2_fastqc.html
1_RNAseq_import/Sample_R13_R1_fastqc.html
1_RNAseq_import/Sample_R13_R2_fastqc.html
2_hisat2/slurm-2022_10_31_indexer_1.out
2_hisat2/slurm-2022_11_01_indexer_2.out
2_hisat2/slurm-2022_11_02_alignment_multiple_v1.out
2_hisat2/slurm-2022_11_08_hisat2_alignment_single_1.out
2_hisat2/slurm-2022_11_08_hisat2_alignment_single_2.out
2_hisat2/slurm-2022_11_15_hisat2_alignment_multiple_v2.out
2_hisat2/splice_sites.ss
2_hisat2/cc_alignment_summary_multiple_files/.gitignore
2_hisat2/cc_alignment_summary_multiple_files/alignment_summary_file
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A1
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A2
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A3
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A4
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A5
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A6
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N14
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N15
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N16
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N17
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N18
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N21
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R8
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R9
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R10
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R11
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R12
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R13
2_hisat2/index/crucian_carp_index.1.ht2
2_hisat2/index/crucian_carp_index.2.ht2
2_hisat2/index/crucian_carp_index.3.ht2
2_hisat2/index/crucian_carp_index.4.ht2
2_hisat2/index/crucian_carp_index.5.ht2
2_hisat2/index/crucian_carp_index.6.ht2
2_hisat2/index/crucian_carp_index.7.ht2
2_hisat2/index/crucian_carp_index.8.ht2
1_RNAseq_import/slurm-2022_05_09_FASTQC.out
2_hisat2/extracted_exons.exon
