1_RNAseq_import/Sample_A1_R1_fastqc.html
1_RNAseq_import/Sample_A1_R2_fastqc.html
1_RNAseq_import/Sample_A2_R1_fastqc.html
1_RNAseq_import/Sample_A2_R2_fastqc.html
1_RNAseq_import/Sample_A3_R1_fastqc.html
1_RNAseq_import/Sample_A3_R2_fastqc.html
1_RNAseq_import/Sample_A4_R1_fastqc.html
1_RNAseq_import/Sample_A4_R2_fastqc.html
1_RNAseq_import/Sample_A5_R1_fastqc.html
1_RNAseq_import/Sample_A5_R2_fastqc.html
1_RNAseq_import/Sample_A6_R1_fastqc.html
1_RNAseq_import/Sample_A6_R2_fastqc.html
1_RNAseq_import/Sample_N14_R1_fastqc.html
1_RNAseq_import/Sample_N14_R2_fastqc.html
1_RNAseq_import/Sample_N15_R1_fastqc.html
1_RNAseq_import/Sample_N15_R2_fastqc.html
1_RNAseq_import/Sample_N16_R1_fastqc.html
1_RNAseq_import/Sample_N16_R2_fastqc.html
1_RNAseq_import/Sample_N17_R1_fastqc.html
1_RNAseq_import/Sample_N17_R2_fastqc.html
1_RNAseq_import/Sample_N18_R1_fastqc.html
1_RNAseq_import/Sample_N18_R2_fastqc.html
1_RNAseq_import/Sample_N21_R1_fastqc.html
1_RNAseq_import/Sample_N21_R2_fastqc.html
1_RNAseq_import/Sample_R8_R1_fastqc.html
1_RNAseq_import/Sample_R8_R2_fastqc.html
1_RNAseq_import/Sample_R9_R1_fastqc.html
1_RNAseq_import/Sample_R9_R2_fastqc.html
1_RNAseq_import/Sample_R10_R1_fastqc.html
1_RNAseq_import/Sample_R10_R2_fastqc.html
1_RNAseq_import/Sample_R11_R1_fastqc.html
1_RNAseq_import/Sample_R11_R2_fastqc.html
1_RNAseq_import/Sample_R12_R1_fastqc.html
1_RNAseq_import/Sample_R12_R2_fastqc.html
1_RNAseq_import/Sample_R13_R1_fastqc.html
1_RNAseq_import/Sample_R13_R2_fastqc.html
2_hisat2/slurm-2022_10_31_indexer_1.out
2_hisat2/slurm-2022_11_01_indexer_2.out
2_hisat2/slurm-2022_11_02_alignment_multiple_v1.out
2_hisat2/slurm-2022_11_08_hisat2_alignment_single_1.out
2_hisat2/slurm-2022_11_08_hisat2_alignment_single_2.out
2_hisat2/slurm-2022_11_15_hisat2_alignment_multiple_v2.out
2_hisat2/splice_sites.ss
2_hisat2/cc_alignment_summary_multiple_files/.gitignore
2_hisat2/cc_alignment_summary_multiple_files/alignment_summary_file
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A1
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A2
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A3
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A4
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A5
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_A6
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N14
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N15
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N16
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N17
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N18
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_N21
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R8
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R9
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R10
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R11
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R12
2_hisat2/cc_alignment_summary_single_files/cc_alignment_summary_R13
2_hisat2/index/crucian_carp_index.1.ht2
2_hisat2/index/crucian_carp_index.2.ht2
2_hisat2/index/crucian_carp_index.3.ht2
2_hisat2/index/crucian_carp_index.4.ht2
2_hisat2/index/crucian_carp_index.5.ht2
2_hisat2/index/crucian_carp_index.6.ht2
2_hisat2/index/crucian_carp_index.7.ht2
2_hisat2/index/crucian_carp_index.8.ht2
1_RNAseq_import/slurm-2022_05_09_FASTQC.out
2_hisat2/extracted_exons.exon
1_RNAseq_import/slurm-10926781_0.out
1_RNAseq_import/slurm-10926781_1.out
1_RNAseq_import/slurm-10926781_2.out
1_RNAseq_import/slurm-10926781_3.out
1_RNAseq_import/slurm-10926781_4.out
1_RNAseq_import/slurm-10926781_5.out
1_RNAseq_import/slurm-10926781_6.out
1_RNAseq_import/slurm-10926781_7.out
1_RNAseq_import/slurm-10926781_8.out
1_RNAseq_import/slurm-10926781_9.out
1_RNAseq_import/slurm-10926781_10.out
1_RNAseq_import/slurm-10926781_11.out
1_RNAseq_import/slurm-10926781_12.out
1_RNAseq_import/slurm-10926781_13.out
1_RNAseq_import/slurm-10926781_14.out
1_RNAseq_import/slurm-10926781_15.out
1_RNAseq_import/slurm-10926781_16.out
1_RNAseq_import/slurm-10926781_17.out
1_RNAseq_import/slurm-10926781_18.out
1_RNAseq_import/slurm-10926781_19.out
1_RNAseq_import/slurm-10926781_20.out
1_RNAseq_import/slurm-10926781_21.out
1_RNAseq_import/slurm-10926781_22.out
1_RNAseq_import/slurm-10926781_23.out
1_RNAseq_import/slurm-10926781_24.out
1_RNAseq_import/slurm-10926781_25.out
1_RNAseq_import/slurm-10926781_26.out
1_RNAseq_import/slurm-10926781_27.out
1_RNAseq_import/slurm-10926781_28.out
1_RNAseq_import/slurm-10926781_29.out
1_RNAseq_import/slurm-10926781_30.out
1_RNAseq_import/slurm-10926781_31.out
1_RNAseq_import/slurm-10926781_32.out
1_RNAseq_import/slurm-10926781_33.out
1_RNAseq_import/slurm-10926781_34.out
1_RNAseq_import/slurm-10926781_35.out
1_RNAseq_import/slurm-10926781_36.out
2_hisat2/2_1_hisat_index/slurm-10926908.out
2_hisat2/2_1_hisat_index/slurm-10926918.out
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_A1
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_A2
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_A3
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_A4
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_A5
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_A6
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_N14
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_N15
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_N16
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_N17
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_N18
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_N21
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_R8
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_R9
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_R10
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_R11
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_R12
2_hisat2/2_3_hisat_alignment/cc_alignment_summary_R13
2_hisat2/2_3_hisat_alignment/slurm-10935288_0.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_1.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_2.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_3.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_4.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_5.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_6.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_7.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_8.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_9.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_10.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_11.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_12.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_13.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_14.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_15.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_16.out
2_hisat2/2_3_hisat_alignment/slurm-10935288_17.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_0.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_1.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_2.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_3.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_4.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_5.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_6.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_7.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_8.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_9.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_10.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_11.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_12.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_13.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_14.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_15.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_16.out
2_hisat2/2_4_samtools_conversion_to_bam/slurm-10944776_17.out
3_stringtie/slurm-10949257.out
3_stringtie/slurm-10964656_0.out
3_stringtie/slurm-10964656_1.out
3_stringtie/slurm-10964656_2.out
3_stringtie/slurm-10964656_3.out
3_stringtie/slurm-10964656_4.out
3_stringtie/slurm-10964656_5.out
3_stringtie/slurm-10964656_6.out
3_stringtie/slurm-10964656_7.out
3_stringtie/slurm-10964656_8.out
3_stringtie/slurm-10964656_9.out
3_stringtie/slurm-10964656_10.out
3_stringtie/slurm-10964656_11.out
3_stringtie/slurm-10964656_12.out
3_stringtie/slurm-10964656_13.out
3_stringtie/slurm-10964656_14.out
3_stringtie/slurm-10964656_15.out
3_stringtie/slurm-10964656_16.out
3_stringtie/slurm-10964656_17.out
3_stringtie/slurm-10967002.out
4_1_feelnc/slurm-10986000.out
4_1_feelnc/4_1_1_feelnc_filter/feelnc_candidate_lncRNA.gtf
4_1_feelnc/4_1_1_feelnc_filter/slurm-10977727.out
4_1_feelnc/4_1_2_feelnc_codpot/slurm-10978392.out
7_create_feature_count_matrix/slurm-11006034_0.out
7_create_feature_count_matrix/slurm-11006034_1.out
7_create_feature_count_matrix/slurm-11006034_2.out
7_create_feature_count_matrix/slurm-11006034_3.out
7_create_feature_count_matrix/slurm-11006034_4.out
7_create_feature_count_matrix/slurm-11006034_5.out
7_create_feature_count_matrix/slurm-11006034_6.out
7_create_feature_count_matrix/slurm-11006034_7.out
7_create_feature_count_matrix/slurm-11006034_8.out
7_create_feature_count_matrix/slurm-11006034_9.out
7_create_feature_count_matrix/slurm-11006034_10.out
7_create_feature_count_matrix/slurm-11006034_11.out
7_create_feature_count_matrix/slurm-11006034_12.out
7_create_feature_count_matrix/slurm-11006034_13.out
7_create_feature_count_matrix/slurm-11006034_14.out
7_create_feature_count_matrix/slurm-11006034_15.out
7_create_feature_count_matrix/slurm-11006034_16.out
7_create_feature_count_matrix/slurm-11006034_17.out
5_1_feelnc/5_1_1_feelnc_filter/slurm-11107547.out
5_1_feelnc/5_1_2_feelnc_codpot/from_gffread/slurm-10990918_annotation_laura.out
5_1_feelnc/5_1_2_feelnc_codpot/from_gffread/slurm-11095038_annotation_stringtie.out
5_1_feelnc/5_1_2_feelnc_codpot/Stringtie/slurm-11107871.out
5_1_feelnc/5_1_3_feelnc_classifier/slurm-11140901.out
10_lncRNA_classification/slurm-11040865.out
10_lncRNA_classification/slurm-11044458.out
11_lncrna_rna_interaction/1_RIblast/slurm-11108153.out
11_lncrna_rna_interaction/1_RIblast/slurm-11140899.out
11_lncrna_rna_interaction/assa/slurm-11040889.out
11_lncrna_rna_interaction/assa/slurm-11142281.out
4_gffread/cc_transcripts.fa
4_gffread/slurm-10986831.out
5_2_cnci/slurm-10997518.out
7_create_feature_count_matrix/slurm-11168628_0.out
7_create_feature_count_matrix/slurm-11168628_1.out
7_create_feature_count_matrix/slurm-11168628_2.out
7_create_feature_count_matrix/slurm-11168628_3.out
7_create_feature_count_matrix/slurm-11168628_4.out
7_create_feature_count_matrix/slurm-11168628_5.out
7_create_feature_count_matrix/slurm-11168628_6.out
7_create_feature_count_matrix/slurm-11168628_7.out
7_create_feature_count_matrix/slurm-11168628_8.out
7_create_feature_count_matrix/slurm-11168628_9.out
7_create_feature_count_matrix/slurm-11168628_10.out
7_create_feature_count_matrix/slurm-11168628_11.out
7_create_feature_count_matrix/slurm-11168628_12.out
7_create_feature_count_matrix/slurm-11168628_13.out
7_create_feature_count_matrix/slurm-11168628_14.out
7_create_feature_count_matrix/slurm-11168628_15.out
7_create_feature_count_matrix/slurm-11168628_16.out
7_create_feature_count_matrix/slurm-11168628_17.out
5_3_cpc2/slurm-11107644.out
12_lncrna_dna_interaction/cc_lncRNA_transcripts.fasta
12_lncrna_dna_interaction/slurm-11169258.out
12_lncrna_dna_interaction/slurm-11169259.out
5_3_cpc2/cc_codpot_gffread.txt
5_3_cpc2/cc_transcripts.fa
11_lncrna_rna_interaction/assa/slurm-11168152.out
11_lncrna_rna_interaction/assa/slurm-11172482.out
11_lncrna_rna_interaction/assa/slurm-11173619.out
11_lncrna_rna_interaction/assa/transcripts_without_N.fasta
11_lncrna_rna_interaction/1_RIblast/slurm-11157198.out
11_lncrna_rna_interaction/1_RIblast/slurm-11168054.out
11_lncrna_rna_interaction/1_RIblast/slurm-11172955.out
11_lncrna_rna_interaction/1_RIblast/slurm-11210956.out
11_lncrna_rna_interaction/assa/cc_lncRNA_transcripts.fasta
10_lncRNA_classification/5_1_1_feelnc_filter/slurm-11107547.out
10_lncRNA_classification/5_1_2_feelnc_codpot/slurm-11107871.out
10_lncRNA_classification/5_1_3_feelnc_classifier/slurm-11140901.out
11_lncrna_rna_interaction/1_RIblast/lncRNA_interactions.txt
11_lncrna_rna_interaction/1_RIblast/slurm-11245816.out
11_lncrna_rna_interaction/1_RIblast/slurm-11410331.out
11_lncrna_rna_interaction/1_RIblast/slurm-11412249.out
11_lncrna_rna_interaction/1_RIblast/slurm-11415758.out
11_lncrna_rna_interaction/1_RIblast/slurm-11456752.out
11_lncrna_rna_interaction/1_RIblast/slurm-11573665.out
11_lncrna_rna_interaction/1_RIblast/test.txt
